.pass-alert {
   font-size: 15px !important;
}
.inputBox{
   position: relative;
   display: inline-block;
}
.eye{
    /* display: inline; */
    position: absolute;

    left: 95%;
    top: 10%;
}
#signUp{
    min-height: 120vh;
    /* padding-top: 100px; */
    background-color: #343A40;
    overflow-x: hidden;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}